.cell {
  --border-width: 0.35em;
  --border-color: #099cff;
  background-color: white;
  position: relative;
  width: auto;
  aspect-ratio: 1;
  margin: 0.125em;
}

.btn {
  background: transparent;
  border: 0;
  position: absolute;
  inset: 0;
  z-index: 10;

  .cell[data-status=active] & {
    border: var(--border-width) solid var(--border-color);
  }

  /* TODO: animate dashed border */
  .cell[data-status=empty] & {
    border: var(--border-width) dashed var(--border-color);
  }
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  z-index: 5;

  p {
    border-radius: 2rem;
    background-color: black;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.25rem 0.8rem;
  }
}

.pieces {
  display: grid;
  grid-template: "container";
  place-items: center;
  place-content: center;
  overflow: hidden;
  height: 100%;

  svg {
    grid-area: container;
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1;
  }

  svg[data-piece^='A'] {
    z-index: 1;
  }

  svg[data-piece^='B'] {
    z-index: 2;
  }

  svg[data-piece^='C'] {
    z-index: 3;
  }
}
