.cell {
  --border-width: 0.35em;
  --border-color: #099cff;
  position: relative;
  width: 9em;
  aspect-ratio: 1;
  margin: 1px;
}

.cell[data-status=previous] .btn {
  border: var(--border-width) solid #cbedff;
}

.cell[data-status=active] .btn {
  border: var(--border-width) solid var(--border-color);
}

/* TODO: style active but empty game pieces
.cell[data-status=active] .btn {
  border: var(--border-width) dashed var(--border-color);
}
*/

.btn {
  background: transparent;
  border: 0;
  position: absolute;
  inset: 0;
  z-index: 1;
}
