.cell {
  --border-width: 0.35em;
  --border-color: #099cff;
  position: relative;
  width: 9em;
  aspect-ratio: 1;
  margin: 1px;
}

.btn {
  background: transparent;
  border: 0;
  position: absolute;
  inset: 0;
  z-index: 1;

  .cell[data-status=active] & {
    border: var(--border-width) solid var(--border-color);
  }

  /* TODO: animate dashed border */
  .cell[data-status=empty] & {
    border: var(--border-width) dashed var(--border-color);
  }
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;

  p {
    border-radius: 2rem;
    background-color: black;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.25rem 0.8rem;
  }
}

.pieces [data-piece=A1] {
  background-color: aqua;
}

.pieces [data-piece=A2] {
  background-color: coral;
}

.pieces [data-piece=A3] {
  background-color: darkgoldenrod;
}

.pieces [data-piece=A4] {
  background-color: deeppink;
}

.pieces [data-piece=A5] {
  background-color: brown;
}

.pieces [data-piece=A6] {
  background-color: greenyellow;
}

.pieces [data-piece=A7] {
  background-color: aquamarine;
}

.pieces [data-piece=A8] {
  background-color: darkblue;
}

.pieces [data-piece=B1] {
  background-color: blueviolet;
}

.pieces [data-piece=B2] {
  background-color: darkmagenta;
}
