.header {
  padding-block: 2em 3em;
  text-align: center;

  h1 {
    font-family: var(--font-family-display);
    font-size: clamp(2rem, 1.833rem + 0.833vw, 2.5rem);
  }
}

.footer {
  background-color: light-dark(#e8e8e8, #353535);
  margin-block-start: auto;
  padding-block: 1em;
  text-align: center;
  width: 100%;

  @media screen and (min-width: 33em) {
    padding-block-start: 2em;
  }
}

.footerContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  @media screen and (min-width: 33em) {
    flex-direction: row;
    justify-content: space-between;
  }
}
