.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
}

.header {
  padding-block: 1em;

  h1 {
    font-size: clamp(2rem, 1.833rem + 0.833vw, 2.5rem);
  }
}

.footer {
  margin-block-start: auto;
  padding-block: 2em 1em;
}
