.header {
  padding-block: 2em 3em;
  text-align: center;

  h1 {
    font-family: var(--font-family-display);
    font-size: clamp(2rem, 1.833rem + 0.833vw, 2.5rem);
  }
}

.footer {
  margin-block-start: auto;
  padding-block: 2em 1em;
  text-align: center;
}
