.grid {
  border: 2px solid #cbedff;
  background-color: #cbedff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  max-width: 45em;
}
