:root {
  /*
  Clamp Generator: https://chrisburnell.com/clamp-calculator/?font-size-root=16&viewport-min=320&viewport-max=1280&viewport-units=vw
  */
  --font-family-display: "Francois One", serif;
  --font-family-default: "Karla", serif;
  --font-size-lg: clamp(1rem, 0.792rem + 1.042vw, 1.625rem);
  --font-size-md: clamp(1rem, 0.958rem + 0.208vw, 1.125rem);
  --font-size-sm: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);

  --color-bg-light: #f3f3f3;
  --color-bg-dark: #242424;
  --color-bg-accent-light: #e8e8e8;
  --color-bg-accent-dark: #353535;
  --color-text-light: #2e2e2e;
  --color-text-dark: #f7f7f7;

  --bp-tablet: "min-width: 43rem";
}

body {
  font-family: var(--font-family-default);
  font-size: 16px;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 1.5;
  color-scheme: light dark;
  color: light-dark(#2e2e2e, #f7f7f7);
  background-color: light-dark(#f3f3f3, #242424);
  text-rendering: optimizeSpeed;
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (prefers-color-scheme: light) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100dvh;
}

/* TODO: Add normalize layer */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  color: currentColor;
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 0.1rem;
  border-bottom: 0.07rem solid currentColor;
  transition: border 100ms;
}

a:hover {
  color: currentColor;
  border-bottom-width: 0.2rem;
}

a:focus-visible {
  outline-offset: 0.2rem;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 2rem;
}

.main {
  /* fill height */
  flex: 1;
  position: relative;
}
