:root {
  /*
  Clamp Generator: https://chrisburnell.com/clamp-calculator/?font-size-root=16&viewport-min=320&viewport-max=1280&viewport-units=vw
  */
  --font-family-display: "Francois One", serif;
  --font-family-default: "Karla", serif;
  --font-size-lg: clamp(1rem, 0.792rem + 1.042vw, 1.625rem);
  --font-size-md: clamp(1rem, 0.958rem + 0.208vw, 1.125rem);
  --font-size-sm: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100dvh;
}

a {
  color: currentColor;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  /* Legacy property for Internet Explorer */
  clip-path: inset(50%);
  white-space: nowrap;
}

@media (prefers-color-scheme: light) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
