.banner {
  background-color: #cfbaf0;
  border-bottom-left-radius: 3em;
  border-bottom-right-radius: 3em;
  color: var(--color-text-light);
  width: 41em;
  padding: 0 1.5em 1.5em;
  position: fixed;
  top: 0;
  left: 50%;
  will-change: transform;
  z-index: 20;

  &.won {
    background-color: #b9fbc0;
  }

  p {
    font-family: var(--font-family-default);
    font-size: var(--font-size-md);

    p+& {
      margin-block-start: 0.8em;
    }
  }
}

.inner {
  border: 0.5rem dotted white;
  border-top: 0;
  border-bottom-left-radius: 2.4em;
  border-bottom-right-radius: 2.4em;
  height: 60dvh;
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: flex-end;
  padding: 3em 2em 5em;
}

.heading {
  font-family: var(--font-family-display);
  font-size: var(--font-size-lg);
  margin-block-end: 0.6em;
}

.btn {
  border: 0.125rem solid var(--color-text-light);
  border-radius: 0.6em;
  background-color: transparent;
  color: var(--color-text-light);
  font-weight: bold;
  letter-spacing: 0.02rem;
  margin-block-start: 3em;
  padding: 0.5rem 0.8rem;
  cursor: pointer;

  &:hover {
    background-color: var(--color-text-light);
    color: var(--color-text-dark);
  }
}
